<div class="container">
    <div [hidden]="submitted">
        <h1>Register</h1>
        <form [formGroup]="registerForm"  *ngIf="active"  (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="login">login</label>

                <input type="text" id="login" class="form-control"
                       formControlName="login" required >

                <div *ngIf="formErrors.login" class="alert alert-danger">
                    {{ formErrors.login }}
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" id="password" class="form-control"
                       formControlName="password"  >

                <div *ngIf="formErrors.password" class="alert alert-danger">
                    {{ formErrors.password }}
                </div>
            </div>


            <div class="form-group">
                <label for="password">new password</label>
                <input type="text" id="newPassword" class="form-control"
                       formControlName="newPassword"  >

                <div *ngIf="formErrors.newPassword" class="alert alert-danger">
                    {{ formErrors.newPassword }}
                </div>
            </div>




            <button type="submit" class="btn btn-default"
                    [disabled]="!registerForm.valid">Submit</button>

        </form>
    </div>

    <!--<register-submitted [register]="register" [(submitted)]="submitted"></register-submitted>-->
</div>


<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->