<div class="container">
    <div [hidden]="submitted">
        <h1>login</h1>
        <form [formGroup]="loginForm"  *ngIf="active"  (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="login">login</label>

                <input type="text" id="login" class="form-control"
                       formControlName="login" required >

                <div *ngIf="formErrors.login" class="alert alert-danger">
                    {{ formErrors.login }}
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" id="password" class="form-control"
                       formControlName="password"  >

                <div *ngIf="formErrors.password" class="alert alert-danger">
                    {{ formErrors.password }}
                </div>
            </div>



            <button type="submit" class="btn btn-default"
                    [disabled]="!loginForm.valid">Submit</button>

        </form>
    </div>

    <!--<login-submitted [login]="login" [(submitted)]="submitted"></login-submitted>-->
</div>


<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->