/*!* Master Styles *!*/
body {
    padding-top: 70px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}

a {
    cursor: pointer;
    cursor: hand;
}

button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/*!* Navigation link styles *!*/
nav a {
    color: #fff !important;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: green;
    border-radius: 4px;
}

nav a:visited, a:link {
    color: #607D8B;
}

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

nav a.router-link-active {
    color: #039be5;
}

/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    color: #212121;
    background-color: #f5f5f5;
}

.datatable {
    text-align: left;
    width: 75%;
    margin: 0 auto;
}

.datatable.scroll-vertical {
    height: 70vh;
}

.selected-column {
    background: #FFF;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input[type=text] {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #5264AE;
}

input:focus {
    outline: none;
}

a {
    color: grey;
    text-decoration: none;
}

.expander-btn {
    margin-top: 8px;
    display: block;
}

h3 span {
    width: 75%;
    margin: 0 auto;
    display: block;
}

h3 {
    background: #1f89ff;
    margin: 0 0 30px 0;
    color: #FFF;
    text-align: left;
    padding: 10px 0;
    overflow: hidden;
    height: 32px;
}

h3 a {
    color: #ccc;
}

h3 small {
    margin-left: 10px;
    font-size: .8rem;
}

.fullscreen {

    width: 100%;
}

.selection-cell .datatable-body-cell.active {
    background: #0829e0 !important;
    color: #FFF !important;
}

.selected-column {
    float: right;
    width: 20%;
    margin-right: 20px;
    text-align: left;
}

.selected-column h4 {
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul {
    margin: 10px;
}

li {
    padding: 3px 5px;
}

nav {
    position: absolute;
    left: 10px;
    top: 0;
}

nav ul {
    margin: 0 8px !important;
}

nav li {
    padding: 0;
}

nav h3 {
    font-size: 14px;
    margin: 0 0 10px 0;
}

nav h4 {
    margin: 7px 0 0 0;
}

nav h4 a {
    color: #000;
}

content {
    margin-left: 180px;
    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 20px;
}

content h3 {
    padding-left: 35px;
}

.main-ul {
    margin-left: 15px !important;
    display: block;
}

.github-button-wrap {
    position: absolute;
    top: 10px;
    right: 10px;
}
